{% extends "./base.twig" %}


{% block content %}
  <section class="bg-gray-50 dark:bg-gray-900">

    <div class="relative overflow-x-auto sm:rounded-lg w-full max-w-screen-xl px-4 mx-auto 2xl:px-0 py-4">


      <h1 class="mb-10 text-xl tracking-wider uppercase leading-none
      text-gray-900 md:text-2xl lg:text-3xl lg:font-bold dark:text-white text-center">
        Страница не найдена
      </h1>

      <p>Возможно, вы ввели неправильный адрес или страница была удалена</p>


    </div>

  </section>


{% endblock %}
