<!DOCTYPE html>
<html lang="ru-RU">
{% include "./head.twig" %}
<body class="body min-w-[300px] w-full" >

{% include "./site/header.twig" %}

<main class="main min-h-[calc(100vh_-_245px)] pt-[76px]">
  {% block content %}
  {% endblock %}
</main>

{% include "./site/footer.twig" %}


<div id="toTop" class="hide"><span>↑</span></div>
<div id="blurScreen" class="backdrop-blur hidden transition-opacity fixed inset-0 w-full
     overflow-x-hidden overflow-y-auto
     md:inset-0
    max-h-full flex z-[1001]" ></div>

<script src="/static/script.js" ></script>
</body>
</html>