<footer class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8 mt-10 text-sm">
  <div class="md:flex md:justify-between sm:text-left text-center">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-x-8">
      <ul class="text-gray-500 dark:text-gray-400 font-medium">
        {#        <li class="mb-4"><a href="/rules/" class="hover:underline uppercase">Правила сайта</a></li>#}
        {#        <li class="mb-4"><a href="/users/" class="hover:underline uppercase">Пользователи</a></li>#}
      </ul>
      <ul class="text-gray-500 dark:text-gray-400 font-medium">
        {#        <li class="mb-4"><a href="/privacy-policy/" class="hover:underline uppercase">Политика конфиденциальности</a></li>#}
      </ul>
    </div>
    <div class="mb-6 md:mb-0 md:basis-[50%]">
      <div class=" not-italic text-gray-500 dark:text-gray-400 md:text-right">
{#        <a href="/contacts/" class="hover:underline uppercase mb-4 inline-block">Контакты</a>#}
      </div>
    </div>
  </div>

  <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />

  <div class="sm:flex sm:items-center sm:justify-between">
    <div class="flex gap-x-3 flex-col sm:flex-row items-center text-sm text-gray-500 sm:text-center dark:text-gray-400">

      <span>© {{ year }}</span>
    </div>
    <div class="flex mt-4 sm:mt-0">
      {#      <a href="https://vk.com/" target="_blank" title="Наша страница во Вконтакте" class="block mx-auto text-gray-500 hover:text-gray-900 dark:hover:text-white">#}
      {#        <svg width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="60" height="60" rx="5" fill="#86909C"></rect>#}
      {#          <path d="M31.7775 46C14.3528 46 4.41412 33.988 4 14H12.7283C13.015 28.6706 19.4495 34.8848 24.5463 36.1662V14H32.7652V26.6526C37.7983 26.108 43.0856 20.3424 44.8696 14H53.0883C51.7187 21.8158 45.9846 27.5816 41.9073 29.952C45.9846 31.8738 52.5153 36.9028 55 46H45.9528C44.0097 39.914 39.1682 35.2052 32.7652 34.5646V46H31.7775Z" fill="white"></path>#}
      {#        </svg>#}
      {#        <span class="sr-only">Страница Вконтакте</span>#}
      {#      </a>#}
    </div>
  </div>
</footer>